body {
  font-family: 'Signika', sans-serif;
  color: #323232;
}
.textFont {
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
.marginTop {
  margin-top: 3rem;
}
.textAlign {
  text-align: left;
}
.textCenter {
  text-align: center;
}
hr.wh{
  border-top: 1.5px solid #ffffff;
  width: 50%;
}
.textFontSecondCont {
  font-weight: 400;
  font-size: 26px;
  color: #3e8fcd;
  font-style: normal;
  line-height: 20px;
}
.textPara {
  font-weight: 400;
  font-family: arial;
  font-style: 16px;
  color: #525050;
  font-style: normal;
}
#womanBackground {
  background-repeat: no-repeat;
  background-size: 500px;
  display: block;
  position: absolute;
  top: -20px;
  right: 0;
  width: 100%;
  height: 100%;
}
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: #e6e6e6;
}
.first-div {
  margin-top: -5px;
  margin-bottom: 40px;
}
.stepsContainer {
  height: 84px;
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin-top: -42px;
  z-index: 100;
  border: 3px solid #fff;
  border-radius: 3px;
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.step {
  float: left;
  display: block;
  width: 33.33%;
  padding: 12px 50px;
  text-decoration: none;
  font-size: 18px;
}
.step .number {
  display: block;
  width: 51px;
  height: 51px;
  background: #a9a9a9;
  color: #ffffff !important;
  font-family: signika;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  border-radius: 5px;
  float: left;
  margin-right: 20px;
}
.step .bold {
  font-family: signika;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}
.step .description {
  font-size: 14px;
  line-height: 14px;
  opacity: 0.65;
  margin-top: -10px;
  color: #000000 !important;
}
.fontArial {
  font-family: arial !important;
  font-style: bold;
  font-size: 24px;
}
.fontSize24 {
  font-size: 24px !important;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.primary-clr {
  color: #12b399;
}
.secondary-clr {
  color: #e67d23;
}
.font-bold {
  font-family: proxima_bold;
}
.font-regular {
  font-family: proxima_regular;
}
p {
  margin: 0;
}
.dark-header {
  background: #323232;
  border: none;
}
.dark-footer {
  background: #323232;
}
.cta-button {
  width: 100%;
  padding: 0 30px;
}
.cta-button a {
  width: 100%;
  color: #e67d23;
  border: 2px solid #e67d23;
  display: block;
  text-align: center;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.gr-logo img {
  max-width: 80px;
}
.top-product {
  padding: 40px 0;
}
.product-img {
  position: relative;
  padding: 10px 0;
}
.product-img img {
  min-height: 500px;
  object-fit: cover;
}
.product-img .aft_discount {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  background: #12b399;
  right: -45px;
  border-radius: 50%;
  transform: translate(0, -50%);
  color: #fff;
  padding: 22px 30px;
  line-height: 30px;
  text-align: left;
  font-size: 25px;
}
.section-heading h3 {
  color: #12b399;
  font-size: 28px;
  font-weight: 400;
}
.section-heading h2 {
  font-size: 30px;
}
.feature-list ul li {
  color: #12b399;
  font-size: 18px;
}
.feature-list ul li i {
  color: #12b399;
  font-size: 16px;
  margin-right: 10px;
}
.call-button a {
  background: linear-gradient(to bottom, #93c437 12%, #6f9f18 100%);
  color: #ffffff !important;
  font-size: 16px;
  padding: 9px 20px;
  text-align: center;
  display: block;
  margin: auto;
  width: 330px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35),
    2px 2px 3px rgba(0, 0, 0, 0.25);
}
.call-button a:hover {
  background: #6d9d16;
}
.stepFaded {
  opacity: 0.6;
}
.featured-section {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
  margin: 30px 0;
}
.rating-user {
  color: #ffa800;
}
.rating-user i {
  margin-right: 5px;
}
.review-image img {
  border-radius: 50%;
  max-width: 50px;
  object-fit: cover;
}
.user_name {
  font-size: 16px;
}
.featured-section img {
  max-width: 180px;
  transition: all 0.5s ease;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.featured-section img:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.featured-section p {
  font-size: 18px;
  color: #9e9e9e;
}
.video-section {
  padding: 50px 0;
}
.video-block {
  background: url(../../img/pro_pot.jpg.html);
  min-height: 600px;
  width: 100%;
  background-size: cover;
  background-position: top center;
  margin: 50px 0 -180px;
  position: relative;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.12);
}
.vd-overlay {
  position: absolute;
  width: 100%;
  text-align: center;
  background: #12b399a8;
  height: 100%;
  color: #fff;
  padding-top: 23%;
  cursor: pointer;
}
.vd-overlay p {
  font-size: 24px;
  font-family: proxima_bold;
}
.vd-overlay p i {
  border: 2px solid #ddd;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding: 11px 15px;
  margin-right: 15px;
}
.grey-bg {
  background: #f6f6f6;
  padding: 200px 0 50px;
}
.white-box {
  background: #fff;
  text-align: center;
  padding: 60px 20px;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.05) !important;
  cursor: pointer;
}
.icon-box i {
  font-size: 40px;
}
.ictext-box h2 {
  color: #12b399;
  font-size: 24px;
}
.white-box:hover .ictext-box h2 {
  color: #fff !important;
}
.reviews-carousel {
  background: #12b399;
  padding: 70px 0;
}
#rv-slider .carousel-control-prev {
  left: -140px;
  opacity: 1;
}
#rv-slider .carousel-control-next {
  right: -140px;
  opacity: 1;
}
.clr-wh {
  color: #ffffff !important;
}
.clr-yel {
  color: #f8e081 !important;
}
.clr-blue {
  color: #0A2282 !important;
}
  

.bottom-product {
  padding: 70px 0;
  background: #fbfaf5;
}
div#lastSection > p {
  font-family: arial;
}
footer {
  border-top: 1px solid #e7e7e7;
  padding: 15px 0;
}
.footer-links {
  text-align: center;
}
.footer-links li {
  display: inline-block;
  padding: 0 5px;
  text-decoration: underline;
}
.footer-links li a {
  color: #00f;
}
.bg-form {
  background: url(../../img/flpot.jpg.html);
  min-height: 620px;
}
.greybg {
  background: #e9e9e9;
}
.bgwhite {
  background: #fff;
}
.bgprimary {
  background: #23b299;
  min-height: 620px;
}
.form-heading {
  color: #fff;
  padding: 30px 20px;
}
.form-heading h2 {
  font-size: 26px;
}
.form-heading h3 {
  font-size: 22px;
}
.form-only-row label {
  color: #fff;
}
.form-only-row {
  padding: 0 20px;
}
.form-only-row input {
  height: 47px;
  border-radius: 3px;
  border: none;
}
.form-only-row select {
  height: 47px;
  border-radius: 3px;
  border: none;
}
.pre-button {
  height: 60px;
  border-radius: 3px;
  border: none;
  background: #323232;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family: proxima_bold;
}
.bg-init {
  background: #fff;
  padding: 50px;
}
.event-date {
  padding: 30px 10px;
}
.date-box {
  background: #fff;
  text-align: center;
  padding: 15px 0;
  color: #23b299;
  font-size: 20px;
  border-radius: 5px;
}
.event-datefull {
  color: #fff;
  font-size: 20px;
}
.presenter-box {
  background: #11a28a;
  padding: 30px;
  color: #fff;
  margin: 0 -15px;
}
.pr-img img {
  max-width: 90px;
  border-radius: 50%;
}
.pr-name h3 {
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 400;
}
.pr-content p {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
}
.webinar-dtl {
  padding: 30px 0;
}
#timer div {
  background: #fff;
  border: 2px solid #e1e1e1;
  padding: 30px 20px 20px;
  text-align: center;
  font-size: 36px;
  width: 21%;
  border-radius: 5px;
  color: #23b299;
  float: left;
  font-family: proxima_bold;
  margin: 20px 2%;
  line-height: 30px;
}
#timer div span {
  font-family: proxima_regular;
  font-size: 20px;
}
#timer {
  width: 100%;
  display: block;
  overflow: hidden;
}
#timer div:first-child {
  margin: 20px 2% 0 0;
}
.atheight {
  min-height: auto;
}
.warning-div img {
  max-width: 50px;
}
.warning-div p span {
  color: #e67d23;
}
.br-around {
  border: 2px solid #e67d23;
  padding: 40px 50px;
}
.top-secopt {
  background: url(../../img/optbg.png.html);
  background-position: left 50px;
  background-repeat: no-repeat;
  background-size: 20%;
}
.bg-form-dark {
  background: #323232;
  padding: 50px 20px;
}
.int-hd h2 {
  font-size: 24px;
}
.int-hd h3 {
  font-size: 16px;
}
.prebutton1 {
  height: 60px;
  border-radius: 3px;
  border: none;
  background: #e67d23;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family: proxima_bold;
}
.cl-primary {
  padding: 70px 0 0;
  background: linear-gradient(
    to right,
    #59819e 0%,
    #76acd2 25%,
    #76acd2 50%,
    #76acd2 75%,
    #59819e 100%
  );
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  min-height: 450px;
}
.icon-box span {
  font-size: 26px;
  color: #12b399;
  border: 1px solid #ddd;
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  line-height: 62px;
}
.mlbox:hover .ictext-box h2 {
  color: #000 !important;
}
.cn-icon i {
  color: #fff;
  font-size: 30px;
  height: 90px;
  width: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  line-height: 90px;
  margin: 20px 0;
}

.cl-footer {
  background: #23b299;
}
.bg-whitefull {
  background: #fff;
  margin: -60px 0 50px;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.1) !important;
  padding: 30px;
  margin-bottom: 300px;
}
.blog-img img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  margin: 40px 0;
}
.section {
  padding: 0 30px;
}
.button {
  padding: 20px 30px;
  background: #e47d31;
  color: #fff;
}
.button:hover {
  color: #fff;
}
.font-sml {
  font-size: 36px !important;
}
.pos-rel {
  position: relative;
  top: 10px;
}
.background {
  background: #23b299;
  color: #fff;
  border-radius: 5px;
}
.font-size {
  font-size: 20px;
  line-height: 25px;
}
.font-size2nd {
  font-size: 21px;
}
.b-color {
  color: #000;
}
.bgwhite1 {
  background: #23b299;
  color: #fff;
}
.top-padding {
  padding-top: 160px;
  color: #fff;
}
.bd-overlay {
  background: rgba(35, 178, 153, 0.78);
  margin: 0 -15px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.has_icon i {
  margin-right: 10px;
}
.icn-wh i {
  color: #fff;
}
.icon-box2 span {
  font-size: 26px;
  color: #fff;
  border: 1px solid #ddd;
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  line-height: 62px;
  background: #12b399;
}
.bg-grey {
  background: #fff;
  padding-top: 85px 0 50px 0;
}
.card-header button {
  color: #000;
  font-size: 20px;
}
.multistep label {
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  color: #12b399;
  font-family: proxima_bold;
  margin: 10px 0;
  cursor: pointer;
}
.multistep select {
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  color: #e47d31;
  font-family: proxima_bold;
  margin: 10px 0;
  cursor: pointer;
}
.multistep input {
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 25px;
  padding: 5px 15px;
  /* color: #e47d31; */
  font-family: sans-serif;
  margin: 10px 0;
  cursor: pointer;
}
@media (max-width: 405px) {
  .multistep input {
    font-size: 1rem;
    width: 95% !important;
    padding: 5px;
  }
  #lp-pom-button-186 {
    width: 95% !important;
  }
}
.quiz-text h2 {
  font-size: 24px;
}
.quiz-text h3 {
  font-size: 20px;
}
.multistep input:focus,
.multistep select:focus {
  outline: 0;
  /* border: 1px solid #e47d31; */
}
.multistep input[type="radio"] {
  display: none;
}
.multistep input[type="radio"]:checked ~ label {
  border: 1px solid #e47d31;
  color: #e47d31;
}
.cta-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eee;
  padding: 10px;
  display: none;
}
.cl-footer .footer-links li a {
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .stepsContainer {
    line-height: 1.2;
  }
  .marginTop {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .step {
    padding: 12px 10px;
  }
  .container {
    max-width: unset;
  }
}
@media only screen and (max-width: 968px) {
  .stepsContainer {
    max-width: inherit !important;
  }
  .col-md-8#removeFlexAndWidth {
    flex: unset;
    max-width: 100%;
  }
  #stepsCont {
    width: 100%;
    max-width: 100%;
  }
  #secondCont {
    width: 100%;
    max-width: 100%;
  }
  .jeepRes {
    width: 100%;
  }
  header {
    text-align: center;
  }
  .woman {
    display: none;
  }
  #containerWomanBackGround {
    display: none !important;
  }
  .section h1 {
    font-size: 24px;
  }
  
  .textFont {
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
  
  
  .blog-img img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    margin: 20px 0;
  }
  .hdphone {
    display: none;
  }
  .gr-logo {
    display: none;
  }
  .cta-button a {
    width: 100%;
    padding: 10px;
    margin: 16px;
  }
  .product-img img {
    min-height: 250px;
    object-fit: cover;
  }
  .bg-whitefull {
    padding: 15px;
  }
  .product-img .aft_discount {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 75%;
    background: #12b399;
    right: 0;
    border-radius: 50%;
    transform: translate(0, -50%);
    color: #fff;
    padding: 17px 22px;
    line-height: 20px;
    text-align: left;
    font-size: 17px;
    left: 10px;
  }
  .top-product {
    padding: 10px 0;
  }
  .logo img {
    max-width: 120px;
  }
  .section-heading {
    text-align: center;
  }
  .section-heading h2 {
    font-size: 30px;
  }
  .feature-list ul li {
    color: #12b399;
    font-size: 14px;
  }
  .feature-list ul li i {
    color: #12b399;
    font-size: 12px;
    margin-right: 5px;
  }
  .bgprimary {
    background: #23b299;
    min-height: auto;
    padding: 0 0 50px;
    padding: 0 0 50px;
  }
  .bg-form {
    min-height: 400px;
  }
  .top-padding {
    padding-top: 10px;
  }
  .bd-overlay {
    padding: 30px;
  }
  .bg-init {
    background: #fff;
    padding: 20px;
  }
  .footer-links {
    float: none;
  }
  footer {
    text-align: center;
  }
  .presenter-box {
    margin: 0;
  }
  .cta-fixed .call-button a {
    padding: 12px 20px;
  }
  #timer div {
    background: #fff;
    border: 2px solid #e1e1e1;
    padding: 15px 10px 10px;
    text-align: center;
    font-size: 22px;
    width: 23%;
    border-radius: 5px;
    color: #23b299;
    float: left;
    font-family: proxima_bold;
    margin: 20px 1% !important;
    line-height: 30px;
  }
  #timer div span {
    font-family: proxima_regular;
    font-size: 14px;
  }
  .featured-section {
    text-align: center;
  }
  .featured-section img {
    max-width: 120px;
    margin: 20px 0;
  }
  .video-block {
    min-height: 220px;
  }
  .white-box {
    margin: 10px 0;
  }
  #rv-slider .carousel-control-prev {
    display: none;
  }
  #rv-slider .carousel-control-next {
    display: none;
  }
  .gr-ft img {
    max-width: 60px;
  }
  .top-secopt {
    background: 0 0;
  }
  .order-minus {
    order: -1;
  }
  .logo-dark {
    padding: 15px;
  }
  footer .container {
    padding-bottom: 70px !important;
  }
  .cta-fixed {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  #stepsSection {
    display: none;
  }
  .secondSec {
    margin-top: 25px;
  }
  #divImgRes {
    flex: none;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .first-div {
    margin-top: 25px !important;
  }
  .newDiv {
    margin-bottom: 35px !important;
  }
  #bottomCont {
    width: 100%;
    max-width: 100%;
  }
  .textAlignLeft > p,
  pre {
    text-align: left;
  }
  .bottom-product {
    padding: 30px 0;
  }
  .mt-5 {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 500px) {
  .newRow {
    padding: 30px 0 0 !important;
  }
  .bottomDivCont {
    padding-left: 15px !important;
  }
  .cl-primary {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .call-button a {
    width: auto;
  }
}
@media only screen and (min-width: 768px) {
  .col-sm-push-8 {
    left: 66.66%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-pull-4 {
    right: 33.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
}


.form_elem_email{
    width: 360px!important;
    padding: 10px!important;
    border: 0;
    border-radius: 30px;
    color: #000;
    cursor: auto!important;

}

#lp-pom-button-186{
  background: linear-gradient(to bottom, #93c437 12%, #6f9f18 100%);
  color: #ffffff !important;
  font-size: 16px;
  padding: 9px 20px;
  text-align: center;
  display: block;
  margin: auto;
  border:0;
  width: 330px;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35),
  2px 2px 3px rgba(0, 0, 0, 0.25);
}